@*Auteur: Juan Carlos*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (ViewBag.Article != null)
    {
        if (@ViewBag.Erreur != null)
        { 
            <div class="alert alert-info" role="alert">
                <b>@ViewBag.Erreur</b>
            </div>
        }
        @Html.Action("Partial_Article", "Home", new { article = ViewBag.Article })
    }
    else
    {
        if (ViewBag.Erreur == "L'article n'existe pas")
        {
            <div class="form-horizontal">
                <div class="alert alert-info" role="alert">
                    <h1>@ViewBag.Erreur</h1>
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-md-5">Voulez vouz l'ajouter ?</span>
                @Html.ActionLink("OUI", "Ajouter", "Home", new { titre = ViewBag.NouvelleTitre }, null) |
                @Html.ActionLink("NON", "Index")
            </div>
        }
        else
        {
            using (Html.BeginForm("Details", "Home"))
            {
                @Html.AntiForgeryToken()
                <h1>Bienvenue!</h1>
                <hr />
                <div class="form-horizontal">

                    <div class="form-group">
                        <span class="control-label col-md-2">Consulter l'article</span>
                        @Html.TextBox("titre")
                        @if (ViewBag.Erreur != null)
                        { 
                            <div class="alert alert-danger" role="alertdialog">
                                <b>@ViewBag.Erreur</b>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Consulter" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        }
    }
}
